  <button (click)="setAvailable()" >set as available to accept trips</button>
    <label for="">current location latitude <input type="text" name="" id="" [(ngModel)]="currentLatitude"></label>
    <label for="">current location longitude <input type="text" name="" id="" [(ngModel)]="currentLongitude"></label>
     <button (click)="updateLocation()" >update location</button>

       <label for="">acceptTrip <input type="text" name="" id="" [(ngModel)]="tripId"></label>
     <button (click)="acceptTrip()" >update location</button>



