  <div class="container-wrapper">
     

<div class="sidebar text-center">
<button (click)="redirectToHomepge()" class="btn btn-outline-dark w-100 my-3"> back to homepage</button>
   @if (!available) {
    <h1 class="title">select location on map and set yourself available to start receiving ride requests</h1>
  <button (click)="setAvailable()" class="w-100 mx-auto my-2 btn btn-outline-dark align-center">
    set available   </button>

   }
  @else {
    @if(intrip) {
      
      <h1>Active trip</h1>
    }
    <h1 class="title">select location on map to update your live location</h1>
    <button (click)="updateLocation()" class="w-100 btn btn-outline-dark">update location</button>
  }  
@if(available &&!intrip){

   @for( trip of availableTrips; track $index){
       <h1 class="title">trip request near you:</h1> 

   <app-trip-component [activeTrip]="trip" (acceptTrip)="(acceptTrip($event))"></app-trip-component>

  }
}
@else if (intrip){
   <app-trip-component [activeTrip]="activeTrip" (startTrip)="startTrip($event)" (endTrip)="endTrip($event)"></app-trip-component>


}
 </div>
<app-map 
  (locationEvent)="setLocation($event)"
  [firstPoint]="currentCoords"
  [secondPoint]="intrip ? (activeTrip.tripStatus === 'Accepted' ? pickupCoords : destinationCoords) : null">
</app-map>

  </div>