.login-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  background: #fff;
  font-family: 'Segoe UI', sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

input:focus {
  border-color: #1ca571;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #1ca571;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 5px;
}

button:hover {
  box-shadow:2px 2px 6px grey ;
}

.google-signin-section {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#google-signin-button {
  margin-bottom: 15px;
}

.divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ddd;
  line-height: 0.1em;
  margin: 20px 0;
}

.divider span {
  background: #fff;
  padding: 0 10px;
  color: #888;
}
